@import url("loginTypes.css");
@import url("animation.css");
@import url("register.css");

:root {
  --black: #000000;
  --gray: #cccccc;
  --gray-dark: #777777;
  --pink: #ff445c;
  --pink-neon: linear-gradient(to right, #ff4b2b, #ff416c) no-repeat 0 0 / cover;
  --yellow: #f8a336;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--gray);
  border-radius: 10px;
  border: 1px solid var(--gray);
  border-radius: 10px;
  box-shadow: 7px 7px 10px 0px #cccccc;
}

form {
  border-radius: 10px 0px 0px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

form,
.presentation-login {
  padding: 30px;
  background-color: var(--white);

  width: 31vw;
  height: 51vh;
}

h1 {
  margin-top: 0;
  display: flex;
  justify-content: space-around;

  font-size: 24px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 92%;
  padding: 10px;
  border: 1px solid var(--gray);
  border-radius: 9px;
}

.send-btn {
  background-color: var(--pink);
  color: var(--white);
  padding: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;

  margin: 0 25%;
  width: 50%;
}

#signup-link {
  margin-top: 20px;
  text-align: center;
  color: var(--white);
  display: flex;
  align-items: flex-end;
  height: 5vh;
}

.presentation-login {
  background: var(--pink-neon);
  color: var(--white);
  border-radius: 0 10px 10px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.presentation-login div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  justify-content: center;
}

.presentation-login div h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}

.register{
  display: none;
}

.remove{
  display: none;
}

.add{
  display: flex;
}